<!DOCTYPE html>
<head>
 
  <script src="https://login.salesforce.com/canvas/sdk/js/31.0/canvas-all.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jsforce/1.3.1/jsforce.min.js"></script>
 <script type="text/javascript" src="https://thingtech.ap1.visual.force.com/canvas/sdk/js/32.0/canvas-all.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
  <script>



  var sr = '<%- signedRequestJson %>';
  console.log(sr);
   var conn = new jsforce.Connection({ signedRequest: sr });
//    console.log('conn='+conn)
//     conn.query('SELECT Id, Name FROM Account', function(err, res) {
//   if (err) { return console.error(err); }
//   console.log(res);
// });

console.log('CONTEXT' +JSON.stringify(conn.signedRequest.context));
console.log('USER'+ conn.signedRequest.context["user"].userId);
console.log('LOCATION'+ conn.signedRequest.context["environment"].displayLocation);
console.log('PARAMS'+ conn.signedRequest.context["environment"]["parameters"]);

var encryptedapikey = conn.signedRequest.context["environment"]["parameters"].API_Key;
var encryptedapisecret = conn.signedRequest.context["environment"]["parameters"].API_secret;
var decryptedapikey = CryptoJS.AES.decrypt(encryptedapikey, "abcxyz");
console.log('DecryptedAPIKEY' +decryptedapikey.toString(CryptoJS.enc.Utf8));
var decryptedapisecret = CryptoJS.AES.decrypt(encryptedapisecret, "abcxyz");
console.log('DecryptedAPISecret' +decryptedapisecret.toString(CryptoJS.enc.Utf8));



// $.ajax({
//   url: "/decrypt",
//   data: {apikey:decryptapikey},
//   type: 'POST'

// }).done(function(data) {
//   console.log("Success");
//   console.log(JSON.stringify(data));
// });

// console.log('DecryptedAPISecret' + decryptapisecret);

// document.getElementById('apikey').textContent = APIkey;
// document.getElementById('apisecret').textContent = APISecret;

// document.get

// var p = obj["parameters"]

// console.log('JSON'+JSON.stringify(conn.signedRequest.context));
// console.log('user'+conn.signedRequest.context["user"]);
// console.log('SignedRequest-USER'+conn.signedRequest.context["user"].firstname);

 
  </script>
</head>

<body>
<!-- <p><%= signedRequestJson %></p> -->
<div id="apikey"></div>
<div id="apisecret"></div>
</body>
</html>