<!DOCTYPE html>
<head>
 
  <script src="https://login.salesforce.com/canvas/sdk/js/31.0/canvas-all.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jsforce/1.3.1/jsforce.min.js"></script>
 <script type="text/javascript" src="https://thingtech.ap1.visual.force.com/canvas/sdk/js/32.0/canvas-all.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
  $(document).ready(function() {

  var sr = '<%- signedRequestJson %>';
  console.log(sr);
   var conn = new jsforce.Connection({ signedRequest: sr });
   console.log('conn='+conn)
  });


 
  </script>
</head>

<body>
<p><%= signedRequestJson %></p>
</body>
</html>